.task-list-container {
  width: 100%;
  max-width: 1200px;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mask-custom {
  background: rgb(250, 250, 247);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  width: 100%;
  max-width: 600px;
  padding: 2rem;
}

.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.form-check-input {
  margin-right: 0.5rem;
}

.table-responsive {
  width: 100%;
  max-width: 600px;
}

@media (max-width: 767px) {
  .form-check {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-check-input {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
