{% extends 'base.html' %}

{% block content %}


<form method="post">
<div class="task-list-container">
  <div class="mask-custom p-5">
    <div class="text-center pb-2">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
        alt="Check" width="60">
      <h2 class="my-4 text-black">Task List</h2>
    </div>
    <div data-mdb-input-init class="form-outline flex-fill d-flex align-items-center">
    <input name="text" placeholder="What do you need to do today?"
           class="form-control form-control-lg flex-grow-1 me-2" />
    <button class="btn btn-primary">Add</button>
</div>

      <br>
 <div class="form-check">
  <input class="form-check-input" type="radio"  value ="High priority" name="options">
  <label class="form-check-label">High priority</label>
</div>

<div class="form-check" style="margin-top: 10px;">
  <input class="form-check-input" type="radio" value="Low priority" name="options">
  <label class="form-check-label">Low priority</label>
</div>

<div class="form-check" style="margin-top: 10px;">
  <input class="form-check-input" type="radio" value="Middle priority" name="options">
  <label class="form-check-label">Middle priority</label>
</div>



    <div class="table-responsive">
      <table class="table text-white mb-0">
        <thead>
          <tr>
            <th scope="col">Team Member</th>
            <th scope="col">Task</th>
            <th scope="col">Priority</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>

{% for item in todo %}
    <tr class="fw-normal">
      <th>
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
             alt="avatar 1" style="width: 45px; height: auto;">
        <span class="ms-2">Alice Mayer</span>
      </th>
      <td class="align-middle">
        <span>{{ item.db_task }}</span>
      </td>
      {% if item.db_priority == "Low priority" %}
      <td class="align-middle">
        <h6 class="mb-0"><span class="badge bg-warning">{{ item.db_priority }}</span></h6>
      </td>
      {% elif item.db_priority == "Middle priority" %}
      <td class="align-middle">
        <h6 class="mb-0"><span class="badge bg-success">{{ item.db_priority }}</span></h6>
      </td>
      {% else %}
      <td class="align-middle">
        <h6 class="mb-0"><span class="badge bg-danger">{{ item.db_priority }}</span></h6>
      </td>


      {% endif %}

       <td class="align-middle">
        <button>Delete</button>
      </td>
    </tr>
  {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
  </form>
{% endblock %}